:root{
    --editor-primary: #2222f8;
    --editor-secondary: #074355;
}

html, body {
    width: calc(100% - 20px);
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0px;
}

.content {
    width: 100%;
    height: 80%;
}

#editor {
    overflow: hidden;
    z-index: 8000;
    border-radius: 25px;
    width: 95%;
    height: 95%;
    margin: auto;
    background: rgba(168, 165, 218, 0.24);
}

#editor .editor-hover {
    cursor: pointer;
    color: var(--editor-secondary);
    transition: 0.3s;
}

#editor .editor-hover:hover {
    color: var(--editor-primary);
    transition: 0.3s;
}

#editor svg:focus {
    outline: none;
}

.keyboard {
    position: absolute;
    z-index: 9999;
    display: none;
    top: calc(20px + (80% - 50%)/2);
    left: calc((100% - 60%)/2);
    width: 60%;
    height: 50%;
    border: 1px solid rgb(41, 40, 40);
    background: rgba(77, 76, 99, 0.726);
    padding: 10px;
    border-radius: 15px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    text-wrap: warp;
    .content {
        overflow-y: auto;
        width: 100%;
        height: 100%;
        .keys {
            padding-left: 15px;
            .entry {
                margin-bottom: 10px;
            }
        }
    }
}
#editor .open {
    display: block !important;
}

#editor .keyboard-palette {
    z-index: 9999;
    left: calc((97.5% - 92px)) !important;
    top: 92px !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        scale: 0.75;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

#editor
.helpers {
    position: absolute;
    min-width: 200px;
    max-width: 200px;
    margin-left: calc((100% - 270px) / 2);
    z-index: 9999;
}

#editor 
.help-interactions {
    width: fit-content;
    border-radius: 5px;
    animation: 1s fadeIn 0s;
    text-align: center;
    text-wrap: pretty;
    max-width: 200px;
    min-width: 200px;
    left: 0px;
    position: relative;
    
    padding: 10px 10px 2.5px 2.5px;
    height: fit-content;
    position: relative;
    box-shadow: 5px 5px 5px rgba(63, 61, 61, 0.425);

    .content {
        font-size: 8pt;
        padding-bottom: 5px;
        animation: 0.5s fadeIn 0s;
        color: black;
    }
}

#editor 
.help-interactions.close {
    display: none;
}

#editor 
.help-interactions.open {
    display: block;
}

#editor 
.help-interactions-error {
    margin-top: 2.5px;
    background-color: rgb(228, 193, 193);
    border-color: rgba(66, 3, 3, 0.603);

    .content {
        font-weight: bold;
    };
}