:root{
    --editor-primary: #2222f8;
    --editor-secondary: #074355;
}

html, body {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 80%;
}

#editor {
    overflow: hidden;
    border-radius: 25px;
    width: 95%;
    height: 95%;
    margin: auto;
    background: rgba(168, 165, 218, 0.24);
}

#editor .editor-hover {
    cursor: pointer;
    color: var(--editor-secondary);
    transition: 0.3s;
}

#editor .editor-hover:hover {
    color: var(--editor-primary);
    transition: 0.3s;
}

#editor svg:focus {
    outline: none;
}