:root{
    --editor-primary: #3131d4;
}

html, body {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 80%;
}

#editor {
    overflow: hidden;
    border-radius: 25px;
    width: 95%;
    height: 95%;
    margin: auto;
    background: rgba(168, 165, 218, 0.24);
}

#editor .editor-hover:hover {
    color: var(--editor-primary);
}

#editor svg:focus {
    outline: none;
}