
:root {
    --render-border-colour: #12123d;
    --render-fill-colour: #d1d1df;
    --render-label-colour: #303038;
    --render-arc-stroke: black;
    --render-fact-hover-success: hsla(143, 30%, 45%, 0.80);
    --render-fact-hover-error: hsla(0, 30%, 45%, 0.80);
    --render-simple-constraint: hsl(300, 82%, 32%);
    --render-simple-constraint-editing: hsla(147, 93%, 54%, 0.5);
    --render-simple-constraint-fail: hsla(0, 85%, 37%, 0.5);    
    --render-mandatory-role-fill: hsl(280, 49%, 32%);
    --render-madatory-role-stroke: hsl(280, 91%, 13%);
    --render-objectified-label-fill: hsl(283, 100%, 68%);
    --render-derived-fact-label-fill: hsl(300, 82%, 32%);
    --render-fact-verb-arrow-fill: hsl(283, 100%, 68%);
}

#editor .fact-role {
    fill: var(--render-fill-colour);
    stroke: var(--render-border-colour);
    stroke-width: 1.5;
    cursor: pointer;
}

#editor .fact-label {
    fill: var(--render-fill-colour);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: normal;
    text-anchor: middle;
    box-shadow: 1px 1px 2px var(--render-border-colour);
    text-wrap: pretty;
}


#editor .djs-visual {
    .orm-visuals {
        .fact-role-free {
            fill: var(--render-fact-hover-success);
            transition: 0.2s;
        }
        .fact-role-filled {
            fill: var(--render-fact-hover-error);
            transition: 0.2s;
        }
        .fact-objectified-label {
            fill: var(--render-objectified-label-fill);
            font-size: 12px;
            text-anchor: middle;
        }
        .fact-derived-label {
            fill: var(--render-derived-fact-label-fill);
            font-family: 'Roboto', sans-serif;
            font-size: 12px;
            font-weight: normal;
            text-anchor: middle;
            box-shadow: 1px 1px 2px var(--render-border-colour);
            text-wrap: pretty;
        }
        .fact-verb-arrow {
            fill: var(--render-simple-constraint);
        }
    }
}